
[V200R003C00]
#
 sysname R3
#
 board add 0/4 4GET 
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
dhcp enable
#
undo dhcp server bootp
#
ip pool pool40
 gateway-list 10.10.40.254 
 network 10.10.40.0 mask 255.255.255.0 
 excluded-ip-address 10.10.40.252 10.10.40.253 
 dns-list 10.100.100.100 
#
ip pool pool50
 gateway-list 10.10.50.254 
 network 10.10.50.0 mask 255.255.255.0 
 excluded-ip-address 10.10.50.252 10.10.50.253 
 dns-list 10.100.100.100 
#
ip pool pool60
 gateway-list 10.10.60.254 
 network 10.10.60.0 mask 255.255.255.0 
 excluded-ip-address 10.10.60.252 10.10.60.253 
 dns-list 10.100.100.100 
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
interface Eth-Trunk1
 undo portswitch
 ip address 10.0.1.2 255.255.255.252 
#
interface GigabitEthernet0/0/0
 ip address 10.0.1.6 255.255.255.252 
 dhcp select global
#
interface GigabitEthernet0/0/1
 dhcp select global
#
interface GigabitEthernet0/0/2
 ip address 10.0.1.10 255.255.255.252 
#
interface GigabitEthernet4/0/0
#
interface GigabitEthernet4/0/1
 eth-trunk 1
#
interface GigabitEthernet4/0/2
 eth-trunk 1
#
interface GigabitEthernet4/0/3
 eth-trunk 1
#
interface NULL0
#
ospf 1 router-id 10.5.5.5 
 area 0.0.0.0 
  network 10.0.1.0 0.0.0.3 
  network 10.0.1.4 0.0.0.3 
#
ip route-static 0.0.0.0 0.0.0.0 10.0.1.9
ip route-static 10.10.0.0 255.255.0.0 NULL0
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return